{% extends 'feed/base.html' %}

{% load staticfiles %}

{% block body %}


    <div class="container">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72"
                 height="0"> 
            <h2>Edit personal information</h2>
            {% comment %} <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p> {% endcomment %}
        </div>

        {% comment %} col-md-8 {% endcomment %}
        <div class="order-md-1">
            <form class="needs-validation" method="post" novalidate>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="first_name">First name</label>
                        <input type="text" class="form-control" name="first_name" id="first_name" placeholder="Ivan"
                               value="{{ user.first_name }}">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="last_name">Last name</label>
                        <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Ivanov"
                               value="{{ user.last_name }}">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="first_name">Bio</label>
                    <textarea rows=5 cols=5 class="form-control" name="bio" id="bio" placeholder="24 y.o. designer from California">{% if user.userprofile.bio != None %}{{ user.userprofile.bio }}{% endif %}</textarea>
                </div>

                <div class="mb-3">
                    <label for="telegram_alias">Telegram Alias</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">@</span>
                        </div>
                        <input type="text" class="form-control" name="alias" id="alias" placeholder="alias"
                               value="{{ user.userprofile.alias }}">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="you@example.com"
                           value="{{ user.email }}" required>
                    <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="first_name">Old password</label>
                        <input type="password" class="form-control" name="oldpsw" id="oldpsw" placeholder="qwerty">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="last_name">New password</label>
                        <input type="password" class="form-control" name="newpsw" id="newpsw" placeholder="qwerty123">
                        <div class="invalid-feedback">
                            Please enter a valid password for saving changes.
                        </div>
                    </div>
                </div>


                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block my-5" type="submit">Save changes</button>
                {% csrf_token %}

            </form>

        </div>

    </div>


{% endblock %}