{% extends 'feed/base.html' %}
{% load staticfiles %}

{% block extrahead %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{% static 'js/jquery.emojiRatingView.js' %}"></script>
{% endblock %}


{% block body %}
    {% load filter_tags %}

    {% comment %} <div class="nav-scroller bg-white shadow-sm">
    <nav class="nav nav-underline">
        <a class="nav-link active" href="#">Dashboard</a>
        <a class="nav-link" href="#">
        Friends
        <span class="badge badge-pill bg-light align-text-bottom">27</span>
        </a>
        <a class="nav-link" href="#">Explore</a>
        <a class="nav-link" href="#">Suggestions</a>
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link" href="#">Link</a>
    </nav>
    </div> {% endcomment %}

    <main role="main" class="container">
        {% comment %} text-white-50 {% endcomment %}
        <div class="d-flex align-items-center p-3 my-3 rounded shadow-sm bg-purple">
            <img class="mr-3" src="{{ client.userprofile.avatar.url }}" alt="" width="48" height="48">
            <div class="lh-100">
                {% comment %} text-white {% endcomment %}
                <h6 class="mb-0 lh-100 text-gray-dark">{{ client.first_name }} {{ client.last_name }}</h6>
                <small>{{ client.username }}</small>
                <br>
                <small>@{{ client.userprofile.alias }}</small>
                {% if client.userprofile.bio != None %}
                    <br>
                    <small>{{ client.userprofile.bio }}</small>
                {% endif %}
            </div>
            <div id="rating" class=".mx-1 .mr-1"></div>
            {% if me %}
                <a class="btn-r" href="/user/edit">
                <button class="btn btn-outline-success my-2 my-sm-0 bs-popover-left mx-2" type="submit">Edit</button>
            {% endif %}
            </a>
        </div>

        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h6 class="border-bottom border-gray pb-2 mb-0">Feedbacks</h6>

            {% for feedback in feedbacks %}
                <div class="media text-muted pt-3">
                    <img class="mr-3" src="{{ feedback.userFrom.userprofile.avatar.url }}" alt="" width="32" height="32">
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <strong class="d-block text-gray-dark"> <a href="/user/{{ feedback.userFrom.id }}">
                            @{{ feedback.userFrom.username }} </a> {{ feedback.feedback_text }}
                            <div id='{{ feedback.id }}'></div>
                        </strong>
                    </p>

                    <script>
                        options = {
                            inputName: 'rating' + {{feedback.id}},
                            value: {{feedback.grade}},
                        }

                        $('#{{feedback.id}}').emojiRating(options);
                    </script>
                </div>

            {% endfor %}

            <small class="d-block text-right mt-3">
                <a href="/user/{{ client.id }}/feedback/all">All feedbacks</a>
            </small>
        </div>

        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h6 class="border-bottom border-gray pb-2 mb-0">Current deals</h6>

            {% for request in accepted_requests %}
                <div class="media text-muted pt-3">
                    <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32"
                         xmlns="http://www.w3.org/2000/svg"
                         preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                         aria-label="Placeholder: 32x32">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#007bff"/>
                        <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
                    </svg>
                    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <strong class="text-gray-dark"><a
                                    href="/requests/{{ request.id }}"> {{ request.title }} </a>
                                {{ request.request_description }} <br>
                                Provider: <a
                                        href="/user/{{ request.performer.id }}">@{{ request.performer.username }} </a>
                            </strong>
                        </div>
                    </div>
                    <div style="float: right"> 
                        {% if me %}
                            <a class="btn-r" href="/user/{{ request.performer.id }}/feedback/request_{{ request.id }}">
                                <button class="btn btn-outline-success btn-sm" type="submit">Feedback</button>
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            {% for request in requests_to_do %}
                <div class="media text-muted pt-3">
                    <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32"
                         xmlns="http://www.w3.org/2000/svg"
                         preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                         aria-label="Placeholder: 32x32">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#007bff"/>
                        <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
                    </svg>
                    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <strong class="text-gray-dark"><a
                                    href="/requests/{{ request.id }}"> {{ request.title }} </a>
                                {{ request.request_description }} <br>
                                Requester: <a
                                        href="/user/{{ request.user.id }}">@{{ request.user.username }} </a>
                            </strong>
                        </div>
                    </div>
                    <div style="float: right">
                        {% if me %}
                            <a class="btn-r" href="/user/{{ request.user.id }}/feedback/request_{{ request.id }}">
                                <button class="btn btn-outline-success btn-sm" type="submit">Feedback</button>
                            </a>
                        {% endif %}
                    </div>
                </div>

            {% endfor %}
            <small class="d-block text-right mt-3">
                <a href="#">All current requests</a>
            </small>
        </div>

        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h6 class="border-bottom border-gray pb-2 mb-0">Offers</h6>

            {% for offer in offers %}
                <div class="media text-muted pt-3">
                    <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32"
                         xmlns="http://www.w3.org/2000/svg"
                         preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                         aria-label="Placeholder: 32x32">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#007bff"/>
                        <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
                    </svg>
                    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <strong class="text-gray-dark"><a
                                    href="/offers/{{ offer.id }}"> {{ offer.title }} </a> {{ offer.offer_description }}
                            </strong>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <small class="d-block text-right mt-3">
                <a href="#">All offers</a>
            </small>
        </div>

        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h6 class="border-bottom border-gray pb-2 mb-0">Requests</h6>

            {% for request in requests %}
                <div class="media text-muted pt-3">
                    <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32"
                         xmlns="http://www.w3.org/2000/svg"
                         preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                         aria-label="Placeholder: 32x32">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#007bff"/>
                        <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
                    </svg>
                    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <strong class="text-gray-dark"><a
                                    href="/requests/{{ request.id }}"> {{ request.title }} </a> {{ request.request_description }}
                            </strong>
                            <div style="float: right">
                                <a class="btn-r" href="requests/{{ request.id }}/close">
                                    <button class="btn btn-outline-danger btn-sm" type="submit">Close request</button>
                                </a></div>
                        </div>
                        {% with respond_requests=request|get_respond %}
                            {% for respond in respond_requests %}
                                <div class="media text-muted pt-3">
                                    <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32"
                                         xmlns="http://www.w3.org/2000/svg"
                                         preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                                         aria-label="Placeholder: 32x32">
                                        <title>Placeholder</title>
                                        <rect width="100%" height="100%" fill="#007bff"/>
                                        <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
                                    </svg>
                                    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                        <div class="d-flex justify-content-between align-items-center w-100">
                                            <strong class="text-gray-dark">
                                                <a href="/user/{{ respond.user.id }}"> @{{ respond.user.username }} </a>
                                                <text>{{ respond.message }}</text>
                                            </strong>
                                            <div style="float: right">
                                                <a class="btn-r" href="respond_request/{{ respond.id }}">
                                                    <button class="btn btn-outline-success btn-sm" type="submit">
                                                        Accept
                                                    </button>
                                                </a></div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endwith %}
                    </div>
                </div>
            {% endfor %}

            <small class="d-block text-right mt-3">
                <a href="#">All requests</a>
            </small>
        </div>

        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h6 class="border-bottom border-gray pb-2 mb-0">Closed requests</h6>

            {% for request in closed_requests %}
                <div class="media text-muted pt-3">
                    <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32"
                         xmlns="http://www.w3.org/2000/svg"
                         preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                         aria-label="Placeholder: 32x32">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#007bff"/>
                        <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
                    </svg>
                    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <strong class="text-gray-dark"><a
                                    href="/requests/{{ request.id }}"> {{ request.title }} </a> {{ request.request_description }}
                            </strong>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <small class="d-block text-right mt-3">
                <a href="#">All closed requests</a>
            </small>
        </div>
    </main>

    <script>
        options = {
            emoji: 'U+2B50',
            count: 5,
            fontSize: 16,
            inputName: 'rating',
            value: {{client.userprofile.mean_grade}},
            onUpdate: function () {
            }
        }

        $('#rating').emojiRating(options);
    </script>

{% endblock %}