{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
</head>
<body>

    <div class="container">
    <h1>Sign In</h1>
    <p>Please fill in this form to sign in.</p>
    <hr>

        <form action="" method="post" role="form">

    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <label>
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
    </label>

    <div class="clearfix">
      <button type="button" class="cancelbtn">Cancel</button>
      <button type="submit" class="signinbtn">Sign In</button>
    </div>
    {% csrf_token %}

    </form>

  </div>

    <!-- Theme CSS -->
    <link href="{% static 'css/signup.css' %}" rel="stylesheet">

</body>
</html>
