{% extends 'feed/base.html' %}

{% load staticfiles %}


{% block body %}


<form class="form-signin container bg-light col-sm-4 jumbotron" action="" method="post">
    <div class="text-center mb-4">
        <img class="mb-4" src="{% static 'default.png' %}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Sign up</h1>
        <p>Please fill in this form to sign up</p>
    </div>

    <div class="form-label-group">
        <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required
               autofocus>
    </div>

    <br>

    <div class="form-label-group">
        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required
               >
    </div>

    <br>

    <div class="form-label-group">
        <input type="text" id="inputAlias" name="alias" class="form-control" placeholder="Telegram alias" required
               >
    </div>

    <br>

    <div class="form-label-group">
        <input type="password" id="inputPassword" name="psw" class="form-control" placeholder="Password" required>
    </div>

    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>

    {% if messages %}
        <br>
        <div class="messages">
            {% for message in messages %}
            <h4{% if message.tags %} class="{{ message.tags }} text-center" {% endif %} style="color:#dc3545">{{ message }}</h4>
            {% endfor %}
        </div>
    {% endif %}

    <p class="mt-5 mb-3 text-muted text-center">&copy; 2019</p>

    {% csrf_token %}
</form>

<!-- Theme CSS -->
<!--<link href="{% static 'css/signup.css' %}" rel="stylesheet">-->

{% endblock %}

