{% extends 'feed/base.html' %}

{% load staticfiles %}


{% block body %}

{#    {% form.as_p %}#}


<form class="form-signin container bg-light col-sm-4 jumbotron" action="" method="post">
    <div class="text-center mb-4">
        <img class="mb-4" src="{% static 'default.png' %}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
        <p>Please fill in this form to sign in.</p>
    </div>

    <label for="inputEmail">Username</label>
    <div class="form-label-group">
        <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required
               autofocus>
    </div>

    <br>
    <label for="inputPassword">Password</label>
    <div class="form-label-group">
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
    </div>

    <br>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted text-center">&copy; 2019</p>

    {% csrf_token %}
</form>

<!-- Theme CSS -->
<!--<link href="{% static 'css/signup.css' %}" rel="stylesheet">-->

{% endblock %}

