{% extends 'feed/base.html' %}
{% load staticfiles %}

{% block head %}
    <link href="{% static 'css/signup.css' %}%" rel="stylesheet">
{% endblock %}

{% block body %}

    <main role="main" class="container">
        <div class="d-flex align-items-center p-3 my-3 rounded shadow-sm bg-purple">
            <img class="mr-3" src="{% static 'default.png' %}" alt="" width="48" height="48">
            <div class="lh-100">
                <h6 class="mb-0 lh-100 text-gray-dark">{{ client.first_name }} {{ client.last_name }}</h6>
                <small>{{ client.username }}</small>
                <br>
                <small>@{{ client.userprofile.alias }}</small>
                {% if client.userprofile.bio != None %}
                <br>
                <small>{{ client.userprofile.bio }}</small>
                {% endif %}
            </div>
            {% if me %}
                <a class="btn-r" href="/user/edit">
                <button class="btn btn-outline-success my-2 my-sm-0 bs-popover-left mx-2" type="submit">Edit</button>
            {% endif %}
            </a>
        </div>

        <div class="my-3 p-3 bg-white rounded shadow-sm">
           
        </div>

        
    </main>

{% endblock %}