<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/favicon.ico"> <!-- Replace with the kitty -->

    <title>Cross Service</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/album/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">


    <title>Feed</title>

    {% block extrahead %}
    {% endblock %}
</head>

<style>
    .mac-style {
        -webkit-transition: width 0.3s ease-in-out;
        -moz-transition:width 0.3s ease-in-out;
        -o-transition: width 0.3s ease-in-out;
        transition: width 0.3s ease-in-out;
     }
</style>


<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" onmouseleave="smack()">
        <div>
            <a class="navbar-brand" href="/">Cross Service</a>
        </div>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" href="/user/">{{ user.username }} <span class="sr-only">(current)</span></a>
                </li>
                {% endif %}
                {% if user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin</a>
                </li>
                {% endif %}
            </ul>

            <ul class="navbar-nav">
                {% if user.is_anonymous %}
                <li class="nav-item active">
                    <a class="nav-link" href="/user/signup/">Sign up <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-sm-2" href="/user/signin/">Sign in <span class="sr-only">(current)</span></a>
                </li>
                {% elif user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link px-xl-4" href="/user/signout/">Sign out <span
                            class="sr-only">(current)</span></a>
                </li>

                {% endif %}
                <li oninput="claps()" onmouseover="claps()">
                    <form name="search_form" method="get" {% if offers %} action="/" {% endif %}>
                        <input id="search_line" class="form-control mac-style" name="q" type="text"
                               autocomplete="off"
                               style="width: 281px;"
                               placeholder="Search"
                               {% if q %} value={{ q }} {% else %} value="" {% endif %}
                               aria-label="Search">

                        <div class="bg-light collapse" id="navbarHeader"
                             style="position: absolute; top: 100%; width: 312px; right: 17px;">
                            <div class="container">
                                <div class="column">
                                    <div class="col-xl-8 offset-md-1 py-4">
                                        <ul class="list-unstyled mt-2 mt-md-0">
                                            <li class="radio">
                                                <input type="radio" id="contactChoice1"
                                                       name="optradio" value="bytitle" {% if optradio == "bytitle" or optradio == "" %}checked{% endif %}>
                                                <label for="contactChoice1">By title</label>
                                            </li>
                                            <li class="radio">

                                                <input type="radio" id="contactChoice2"
                                                       name="optradio" value="byauthor" {% if optradio == "byauthor" %}checked{% endif %}>
                                                <label for="contactChoice2">By author</label>
                                            </li>
                                            <li class="radio">

                                                <input type="radio" id="contactChoice3"
                                                       name="optradio" value="bymonth" {% if optradio == "bymonth" %}checked{% endif %}>
                                                <label for="contactChoice3">By month number</label>
                                            </li>
                                            <li>
                                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                                                    Search
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </nav>


</header>


{% block body %}


{% endblock %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script>
    function claps() {
        $('#navbarHeader').collapse('show');
        $('#search_line').width('289');
    }
    function smack() {
        $('#navbarHeader').collapse('hide');
        $('#search_line').width('255');
    }
</script>
</body>

</html>
