{% extends 'feed/base.html' %}

{% load staticfiles %}

{% block body %}

<div class="container bg-light col-sm-4 jumbotron">
    <form class="form-signin" action="" method="post">

        <h1 class="h3 mb-3 font-weight-normal">Offer from <a href="/user/{{offer.user.id}}">{{offer.user}}</a>
        {% if request.user == offer.user %}
        <a href="/offer_edit/{{ offer.id }}" class="btn btn-primary my-2">Edit</a>
        {% endif %}
        </h1>
        <label>Title</label>
        <div class="form-label-group">
            <text x="50%" y="50%" fill="#eceeef" dy=".3em" class="form-control" readonly>{{ offer.title }}</text>
        </div>
        <br>
        <label>Type of service</label>
        <div class="form-label-group">
            <text x="50%" y="50%" fill="#eceeef" dy=".3em" class="form-control" readonly>{{ offer.service_type }}</text>
        </div>
        <br>
        <label>Price</label>
        <div class="form-label-group">
            <text x="50%" y="50%" fill="#eceeef" dy=".3em" class="form-control" readonly>{{ offer.price }}</text>
        </div>
        <br>
        <label>Date of start</label>
        <div class="form-label-group">
            <data class="form-control" readonly>{{ offer.start_date }}</data>
        </div>
        <br>
        <label>Deadline</label>
        <div class="form-label-group">
            <data class="form-control" readonly>{{ offer.deadline }}</data>
        </div>
        <br>
        <label>Offer description</label>
        <div class="form-label-group">
            <textarea class="form-control" name="offer_desc" cols="40" rows="16" readonly>{{ offer.offer_description }}</textarea>
        </div>
        <br>
        <label>Image</label>
        <div class="form-label-group">
            {% if offer.image != 'False' %}
            <img class="form-control" readonly src="{{ offer.image.url }}">
            {% else %}
            <text>No file uploaded</text>
            {% endif %}
        </div>
        <br>

    </form>
</div>

<!--&lt;!&ndash; Theme CSS &ndash;&gt;-->
<!--<link href="{% static 'css/offer_creation.css' %}" rel="stylesheet">-->

{% endblock %}