{% extends 'feed/base.html' %}

{% load staticfiles %}


{% block body %}

    <main role="main">
        <section class="d-flex card container text-muted col-sm-4 bg-light jumbotron justify-content-between ">
            <form method="POST" class="offer-form" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <h1 class="h3 mb-3 font-weight-normal">Edit offer from <a
                        href="/user/{{ offer.user.id }}">{{ request.user }}</a></h1>

                <label for="inputTitle">Title</label>
                <div class="form-label-group">
                    <input type="text" id="inputTitle" name="title" class="form-control" placeholder="Title"
                           value="{{ offer.title }}"
                           required autofocus>
                </div>
                <br>
                <label for="inputService">Type of service</label>
                <div class="form-label-group">
                    <input type="text" id="inputService" name="service_type" class="form-control"
                           placeholder="Type of service" value="{{ offer.service_type }}"
                           required autofocus>
                </div>
                <br>
                <label for="inputPrice">Price</label>
                <div class="form-label-group">
                    <input type="text" id="inputPrice" name="price" class="form-control" placeholder="Price"
                           value="{{ offer.price }}"
                           required autofocus>
                </div>
                <br>
                <label for="inputStart">Date of start</label>
                <div class="form-label-group">
                    <input type="date" id="inputStart" name="start_date" class="form-control"
                           placeholder="Date of start" value="{{ offer.start_date|date:"Y-m-d" }}"
                           required autofocus>
                </div>
                <br>
                <label for="inputDeadline">Deadline</label>
                <div class="form-label-group">
                    <input type="date" id="inputDeadline" name="deadline" class="form-control" placeholder="Deadline"
                           value="{{ offer.deadline|date:"Y-m-d" }}"
                           required autofocus>
                </div>
                <br>
                <label for="inputDescription">Description</label>
                <div class="form-label-group">
                    <textarea id="inputDescription" cols="40" rows="16" name="offer_description" class="form-control"
                              placeholder="Some description"
                              required>{{ offer.offer_description }}</textarea>
                </div>
                <br>
                <label for="inputImage">Image</label>
                <div class="form-label-group">
                    {% if offer.image != 'False' %}
                        <img class="form-control" readonly src="{{ offer.image.url }}">
                        <br>
                    {% else %}
                        <text>No file uploaded</text>
                        <br>
                        <br>
                    {% endif %}
                    <input type="file" id="inputImage" name="image">
                </div>
                <br>
                <button type="submit" class="btn btn-lg btn-primary btn-block">Save</button>
            </form>
        </section>
    </main>

    <!--&lt;!&ndash; Theme CSS &ndash;&gt;-->
    <!--<link href="{% static 'css/offer_creation.css' %}" rel="stylesheet">-->

{% endblock %}