{% extends 'feed/base.html' %}

{% load staticfiles %}

{% block body %}

<div class="container bg-light col-sm-4 jumbotron">
    <form class="form-signin" action="" method="post">

        <h1 class="h3 mb-3 font-weight-normal">Offer from <a href="/user/{{offer.user.id}}">{{offer.user}}</a></h1>
        <label>Title</label>
        <div class="form-label-group">
            <text x="50%" y="50%" fill="#eceeef" dy=".3em" class="form-control" readonly>{{ offer.title }}</text>
        </div>

        <br>
        <label>Offer description</label>
        <div class="form-label-group">
            <textarea class="form-control" name="offer_desc" cols="40" rows="16" readonly>{{ offer.offer_description }}</textarea>
        </div>

    </form>
</div>

<!--&lt;!&ndash; Theme CSS &ndash;&gt;-->
<!--<link href="{% static 'css/offer_creation.css' %}" rel="stylesheet">-->

{% endblock %}