{% extends 'feed/base.html' %}

{% load staticfiles %}


{% block body %}

    <div class="container">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72"
                 height="0">
            <h2>Edit request posted by <a href="/user/{{ req.user.id }}">{{ req.user.username }}</a></h2>
            {% comment %} <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p> {% endcomment %}
        </div>

        {% comment %} col-md-8 {% endcomment %}
        <div class="order-md-1">
            <form class="needs-validation" method="post" novalidate>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="first_name">Title</label>
                        <input type="text" class="form-control" name="title" id="title" value="{{ req.title }}">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="last_name">Service type</label>
                        <input type="text" class="form-control" name="service_type" id="service_type" value="{{ req.service_type }}"
                        >
                    </div>
                </div>
                <div class="mb-3">
                    <label for="first_name">Description</label>
                    <textarea rows=5 cols=5 class="form-control" name="request_description"
                              id="request_description">{{ req.request_description }}</textarea>
                </div>

                <div class="mb-3">
                    <label for="telegram_alias">Price</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">₽</span>
                        </div>
                        <input type="text" class="form-control" name="price" id="price" value="{{ req.price }}"
                        >
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="first_name">Start date</label>
                        <input type="date" class="form-control" name="start_date" id="start_date" value="{{ req.start_date.year }}-{{ req.start_date.month }}-{{ req.start_date.day }}">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="last_name">Deadline</label>
                        <input type="date" class="form-control" name="deadline" id="deadline" value="{{ req.deadline.year }}-{{ req.deadline.month }}-{{ req.deadline.day }}"
                        >
                    </div>
                </div>

                <label for="inputImage">Image</label>
                <div class="form-label-group">
                    <input type="file" id="image" name="image" value={{ req.image }}>
                </div>


                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block my-5" type="submit">Edit</button>
                {% csrf_token %}

            </form>

        </div>

    </div>


    <!--&lt;!&ndash; Theme CSS &ndash;&gt;-->
    <!--<link href="{% static 'css/offer_creation.css' %}" rel="stylesheet">-->

{% endblock %}